language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
# command to install dependencies
install: 
  - "pip install --upgrade pip setuptools wheel"
  - "pip install --only-binary=numpy,scipy"
  - "pip install -r requirements.txt"

# command to run tests
script: python -m pytest
notifications:
  slack:
    rooms:
      - lcmap:UTqlh9PfPVomfpli10WKyZoh#cicd
